
      <mat-card class="card" appearance="outlined">
       <div class="contenedor-img-title">
         <mat-card-header class="contenedor-titulo" >
          <mat-card-title class="titulo">Bienvenido a BiblioCloud 📚</mat-card-title>
          <mat-card-subtitle class="subtitulo">Tu Biblioteca Digital Inteligente</mat-card-subtitle>
        </mat-card-header>
        <img class="img-bienvenida" mat-card-image src="../../../assets/img/imagen_principal.webp" alt="Imagen principal">
          </div>
      </mat-card>
  