<mat-sidenav-container >
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
  </mat-sidenav>

    <mat-toolbar color="gray" class="toolbar sticky-toolbar">
      <img class="logo" src="../../../assets/img/logo.jpg" alt="">
      <span class="spacer"></span>
      <ul class="nav-links">
        <li><a [routerLink]="['/']" class="links">BiblioCloud</a></li>
        <li><a [routerLink]="['/nosotros']" class="links">Nosotros</a></li>
        <li><a [routerLink]="['/catalogo']" class="links" >Catálogo</a></li>
        <li><a class="links" href="/quotes">Solicitar libro</a></li>
        <li><a class="links" href="/reviews">Reseñas</a></li>
      </ul>
      <span class="spacer"></span>
      <button [routerLink]="['/login']" mat-stroked-button >Iniciar Sesión</button>
      <button  [routerLink]="['/registro']" mat-flat-button >Registrarme</button>
    </mat-toolbar>

  


</mat-sidenav-container>