.contenedor-formulario {

    justify-items: center;
    padding: 15px;
}

form {

    background: #ecf0f1;
    max-height: fit-content;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;

}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #007acc;
    margin: 20px;
}

button{
      padding: 15px;
      margin: 5px;
      border-color: #007acc;  
      border-style: solid;
      border-radius: 15px;
      color: #007acc;
      font-size: 1rem;
}
