<div class="contenedor-formulario">
  <div class="formulario-registro">
    <h1>Registrate</h1>
<mat-form-field>
  <mat-label>Nombre</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Correo</mat-label>
  <input type="email" matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Contraseña</mat-label>
  <input type="password" matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Confirmar Contraseña</mat-label>
  <input type="password" matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Seleccione Rol</mat-label>
  <mat-select>
    <mat-option value="one">Administrador</mat-option>
    <mat-option value="two">Estudiante</mat-option>
    <mat-option value="two">Docente</mat-option>
  </mat-select>
</mat-form-field>
</div>
</div>
