<div class="contenedor-formulario" style="background-color: black;">
  <div class="formulario-registro">
    <h1>Registrate</h1>
<form #registroForm="ngForm" (ngSubmit)="registrar()">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput name="nombre" [(ngModel)]="formulario.nombre">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Correo</mat-label>
    <input type="email" matInput name="correo" [(ngModel)]="formulario.correo">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput name="contrasena" [(ngModel)]="formulario.contrasena">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirmar Contraseña</mat-label>
    <input type="password" matInput name="confirmarContrasena" [(ngModel)]="formulario.confirmarContrasena">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Seleccione Rol</mat-label>
    <mat-select name="rol" [(ngModel)]="formulario.rol">
      <mat-option value="administrador">Administrador</mat-option>
      <mat-option value="usuario">Estudiante</mat-option>
      <mat-option value="profesor">Docente</mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" mat-flat-button color="primary">Registrar</button>
</form>
</div>
</div>
 




