<div class="contenedor-libros" style="background-color: black;">
  <h2>Libros Destacados</h2>
  <div class="contenedor-tarjetas">
    @for (libro of libros; track $index) {
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-header>
      <img mat-card-image [src]="libro.imagen" alt="Portada de {{ libro.titulo }}" />


      <mat-card-content>
        <mat-card-title>{{libro.titulo}}</mat-card-title>
        <p><strong>Autor:</strong> {{ libro.autor }}</p>
        <p><strong>ISBN:</strong> {{ libro.isbn }}</p>
        <p><strong>Editorial:</strong> {{ libro.editorial }}</p>
      </mat-card-content>
    </mat-card>}




  </div>
</div>